---
import Layout from '../components/Layout.astro';
import FeedsHero from '../components/feeds/FeedsHero.astro';
import MomentumGraph from '../components/feeds/MomentumGraph.astro';
import HotTopics from '../components/feeds/HotTopics.astro';
import ParticipantsGrid from '../components/feeds/ParticipantsGrid.astro';
---

<Layout title="Community Feeds - Swanage Traffic Alliance" description="Real-time community feedback and concerns about traffic management in Swanage." showSidebar={false}>
  <div class="feeds-page">
    <FeedsHero />
    <MomentumGraph />
    <HotTopics />
    <ParticipantsGrid />
  </div>
</Layout>

<style>
.feeds-page {
  width: 100%;
}
</style>