---
import Layout from '../components/Layout.astro';
import Hero from '../components/home/Hero.astro';
import ImpactMap from '../components/home/ImpactMap.astro';
import CommunityCounter from '../components/home/CommunityCounter.astro';
import Testimonials from '../components/home/Testimonials.astro';
---

<Layout title="Swanage Traffic Alliance - Demanding Accountability" description="The democratic process has been warped for personal gain. We're presenting evidence and amplifying community voices." showSidebar={false}>
  <div class="landing-page">
    <Hero />
    <ImpactMap />
    <CommunityCounter />
    <Testimonials />
  </div>
</Layout>

<style>
.landing-page {
  width: 100%;
}
</style>